---
title: Documentación de Brightcove Live
parent: null
---

<style>
  h1 { margin-bottom: 0; }
</style>

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1 style="font-weight: bold;">{{ site.title }}</h1>
    <table width="100%" border="0">
	<tbody>
		<tr>
			<td width="30%">
			<div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6045789900001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
			<td width="70%">
			<h2>Brightcove en Directo</h2>

			<p>El módulo Live se utiliza para transmitir eventos en vivo tanto a dispositivos móviles como de escritorio. Después de ingresar la información de su evento en el módulo Live, se le proporcionará un conjunto de configuraciones de codificador que conectará a su codificador en el sitio. Toda la transcodificación se realiza en la nube, por lo que no necesita un transcodificador basado en hardware.</p>

			<p>Para casos de uso e integraciones más complejos, también puede utilizar la API en vivo.</p>
			</td>
		</tr>
	</tbody>
</table>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">

      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs limit:4 %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">Ver todo...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>