---
title: Usando la descripción del módulo en vivo: Aprenda a transmitir un evento en vivo usando el módulo Live.
parent: Home
---

<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <section>{{ page.description }}</section>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">Temas de esta sección</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.title %} {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
            <ul>
              {% for subentry in entry.docs %}
              <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %} </li>
          {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>