---
title: 'API en vivo: ' Descripción de SSAI: Obtenga más información sobre cómo trabajar con anuncios del lado del servidor.

parent: 'Working with the Live API'
---
 <h1>Esta página se ha movido; se le dirigirá a la <a href="https://apis.support.brightcove.com/live-api/ssai/index.html">nueva ubicacion</a> en 3 segundos. ¡Actualiza tus marcadores!</h1>
<script type="text/javascript">
var t = setTimeout (function () { window.location.href = 'https://apis.support.brightcove.com/live-api/ssai/index.html'; }, 3000);
</script>
<style>
  .envoltorio de { justify-content: start; } cartas.bcls-card h2 { font-size: 1rem; } .bcls-card ul { margin-left: -2.4em; }
</style>
<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">Temas en {{ page.title }}</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.parent %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>